<div>
    <button type="button" id="redes">
        <a href="https://www.linkedin.com/in/julio-rodriguez-346130248/" target="_blank"><img src="../../../assets/image/logos/linkedin.png" id="linkedin"></a>
    </button>
    <button type="button" id="redes">
        <a href="https://twitter.com/JulioCzPrograma" target="_blank"><img src="../../../assets/image/logos/twitter.png" id="twitter"></a>
    </button>
    <button type="button" id="redes">
        <a href="https://github.com/JulioCz36" target="_blank"><img src="../../../assets/image/logos/github.png" id="github"></a>
    </button>
    
</div>
