#login{
    border-radius: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: all .5s ease;
}
#login:active {
    transform: scale(.9);
    transition: all 200ms ease;
}
#login:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .5)
}