<section id="margen"id="bloques">
    <div class="container--skills">
      <div class="card card--skills card---30 card----Html">
        <div class="box">
          <div class="percent">
            <svg id="statistics">
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <h2>30<span>%</span></h2>
            </div>
          </div>
          <h2 class="text">Html</h2>
        </div>
      </div>
    </div>
</section>