<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" class="info-major" >
        <h2>Julio Cesar Rodriguez</h2>
        <h6>Full Stack Developer Jr</h6>
        <p>Santa Fe <img src="https://img.icons8.com/fluency/20/000000/argentina-circular.png"/></p>
        <span>
            <h5><u>Un Poco Sobre Mi</u></h5>
          <p>Programador, Técnico Electromecánico con amplios conocimientos de informatica incluyendo hardware y decimo mejor promedio de secundaria.</p>
        </span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/image/perfil/Foto.jpeg"  class="img-fluid" id="img-profile">
    </div>
</div>

