<div class="container container--projects">
    <div class="card card--projects">
      <div class="card__img">
      </div>
      <div class="card__title">
        <h4> Project Description</h4>
      </div>
      <div class="card__projects-links">
        <button type="button" id="redes">
          <a href="https://github.com/JulioCz36" target="_blank"><img src="../../../assets/image/logos/github.png" id="github__2"></a>
      </button>
      </div>
      <button class="project-details" id="edit">
        project details
      </button>
    </div>
  </div>
